@import "~bootstrap/scss/bootstrap";

%border-red {
  border-image: linear-gradient(180deg, #ff3000, #ed0200, #ff096c, #d50082) 1 !important;
  -moz-border-image: linear-gradient(180deg, #ff3000, #ed0200, #ff096c, #d50082) 1 !important;
  -o-border-image: linear-gradient(180deg, #ff3000, #ed0200, #ff096c, #d50082) 1 !important;
  -webkit-border-image: linear-gradient(180deg, #ff3000, #ed0200, #ff096c, #d50082) 1;
  border-image-slice: 1;
}
.green{
  color: #39e711;
}
.red{
  color: #e22024;
}
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none;
}
input{
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  -o-user-select: text;
  user-select: text;
}
p,span {
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -o-user-select: text;
  user-select: text;
}

body {
  background-color: #030f1e;
}
.logo{
  width: 110px;
  height: 90px;
}
.dropdown-menu {
  padding: 0 !important;
  margin: 0 !important;
  line-height: normal;
}
.bg-table {
  background: #1a1a1a;
  @extend %border-red;
  border-image: linear-gradient(180deg, #9b2800, #8a0200, #9b093b, #710049);
}

.button-menu,
.button-menu:active,
.button-menu:focus, .buy,
.buy:active, .buy:focus{
  outline: none !important;
  text-decoration: none !important;
}

.button-menu {
  background: #030f1e !important;
  @extend %border-red;
  color: white;
  display: inline-block;
  position: relative;
  padding: 10px 20px;
  border-radius: 0;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: 1px;
  transition: .8s cubic-bezier(.165,.84,.44,1);
  &:before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 0;
    width: 100%;
    z-index: -1;
    color: white;
    background: linear-gradient(180deg, #ff3000, #ed0200, #ff096c, #d50082);
    transition: .8s cubic-bezier(.165, .84, .44, 1);
  }
  &:hover {
    background: transparent !important;
  }
  &:hover:before {
    bottom: 0;
    top: auto;
    height: 100%;
  }
}


.font-cart{
  font-size: 0.8rem;
}

.cart-img{
  width: 40px;
  height: 40px;
}
.image-container{
  height: 200px;
}
.product-image {
  max-height: 200px;
  object-fit: contain;

}
.center-product-image{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.order-image {
  max-height: 100px;
  object-fit: contain;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.big-font-modal {
  font-size: 2.5rem;
}
.modal-description{
  word-wrap: break-word;
}
.crossed {
  text-decoration: line-through;
}

.product-special-price {
  color: rgba(195, 8, 10, 0.97);
  font-weight:bold;
}

.total-price{
  border-radius: 3px;
}
.me {
  color:  #ff3000;
  &:hover {
    text-decoration: none;
    color: #d50082;
  }
}

.more{
  background: #ed1690;
  color: #ffffff !important;
}
.buy {
  background: #ED0200;
  color: #ffffff !important;
  &:focus {
    background: #e56a17;
  }
}
@media (max-width: 600px) {
  .logo{
    width: 80px;
    height: 60px;
  }
  .btn-lg{
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
  }
  .nav-item{
    display: block;
    margin: 0 auto !important;
  }
  .button-menu{
    letter-spacing: 0;
  }
  .cart-img{
    width: 25px;
    height: 25px;
  }
}
.name-border{
  border-bottom: 2px solid rgba(255, 255, 255, 0.125);
}
.animation {
  position: relative;
  display: block;
  width: 100%;
  height: 0;
  padding-top: 8%;
  overflow: hidden;
}

.wave {
  height: 100%;
  width: 1.5%;
  bottom: 0;
  border-radius: 20px;
  position: absolute;
}

.animation div:nth-of-type(1) {
  animation: wave 22s 0.000s linear infinite;
}

.animation div:nth-of-type(2) {
  animation: wave 22s -21s linear infinite;
}

.animation div:nth-of-type(3) {
  animation: wave 22s -20s linear infinite;
}

.animation div:nth-of-type(4) {
  animation: wave 22s -19s linear infinite;
}

.animation div:nth-of-type(5) {
  animation: wave 22s -18s linear infinite;
}

.animation div:nth-of-type(6) {
  animation: wave 22s -17s linear infinite;
}

.animation div:nth-of-type(7) {
  animation: wave 22s -16s linear infinite;
}
.animation div:nth-of-type(8) {
  animation: wave 22s -15s linear infinite;
}

.animation div:nth-of-type(9) {
  animation: wave 22s -14s linear infinite;
}

.animation div:nth-of-type(10) {
  animation: wave 22s -13s linear infinite;
}

.animation div:nth-of-type(11) {
  animation: wave 22s  -12s linear infinite;
}

.animation div:nth-of-type(12) {
  animation: wave 22s  -11s linear infinite;
}

.animation div:nth-of-type(13) {
  animation: wave 22s  -10s linear infinite;
}

.animation div:nth-of-type(14) {
  animation: wave 22s  -9s linear infinite;
}

.animation div:nth-of-type(15) {
  animation: wave 22s  -8s linear infinite;
}

.animation div:nth-of-type(16) {
  animation: wave 22s  -7s linear infinite;
}

.animation div:nth-of-type(17) {
  animation: wave 22s  -6s linear infinite;
}

.animation div:nth-of-type(18) {
  animation: wave 22s  -5s linear infinite;
}

.animation div:nth-of-type(19) {
  animation: wave 22s  -4s linear infinite;
}

.animation div:nth-of-type(20) {
  animation: wave 22s  -3s linear infinite;
}

.animation div:nth-of-type(21) {
  animation: wave 22s  -2s linear infinite;
}

.animation div:nth-of-type(22) {
  animation: wave 22s  -1s linear infinite;
}

@keyframes wave {
  0% {
    left: -2%;
    background: #3B44D1;
  }
  5% {
    background: #9337FE;
  }
  10% {
    height: 35%;
    margin-top: -5%;
    background: #C532FC;
  }
  15% {
    background: #F639F8;
  }
  20% {
    height: 100%;
    margin-top: -17%;
    background: #F236C8;
  }
  25% {
    background: #FF2F8D;
  }
  30% {
    height: 35%;
    margin-top: -5%;
    background: #EE3860;
  }
  35% {
    background: #DC5245;
  }
  40% {
    height: 100%;
    margin-top: -17%;
    background: #F38643;
  }
  45% {
    background: #F8B435;
  }
  50% {
    height: 35%;
    margin-top: -5%;
    background: #FAF444;
  }
  55% {
    background: #E0FF3B;
  }
  60% {
    height: 100%;
    margin-top: -17%;
    background: #E1FF3C;
  }
  65% {
    background: #46F443;
  }
  70% {
    height: 35%;
    margin-top: -5%;
    background: #54E67B;
  }
  75% {
    background: #4DF3A9;
  }
  80% {
    height: 100%;
    margin-top: -17%;
    background: #3AF9DA;
  }
  85% {
    background: #36EBF4;
  }
  90% {
    height: 35%;
    margin-top: -5%;
    background: #3DB3F3;
  }
  95% {
    background: #3C82F1;
  }
  100% {
    height: 100%;
    margin-top: -17%;
    left: 100%;
    background: #5B38EE;
  }
}
